header {
  padding-top: 44px;
  padding-bottom: 44px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

section {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: center;
}

main {
  display: grid;
  gap: 38px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

aside {
  width: 100%;
  display: grid;
  text-align: center;
  padding-bottom: 24px;
  justify-items: center;
}

aside img {
  width: 48px;
  height: 48px;
}

aside span {
  font-weight: 500;
}
